<div class="success-container">
    <div class="success-content">
      <!-- Image en haut -->
      <img class="success-image" src="assets/images/undraw_Message_sent.png" alt="Paper Plane" />
  
      <!-- Texte principal -->
      <h5 class="success-title">{{ 'FORM.CONFIRMATION.SUCCESS_TITLE' | translate}}</h5>
      <p class="success-message">{{ 'FORM.CONFIRMATION.SUCCESS_MESSAGE' | translate}}</p>
  
      <!-- Bouton pour revenir à l'accueil -->
      <a class="btn waves-effect waves-light teal lighten-1" [routerLink]="['/profile']">
        {{ 'FORM.CONFIRMATION.RETURN' | translate}}
      </a>
    </div>
  </div>
  