
/* Style général de la barre de navigation */
.nav-wrapper {
  background: linear-gradient(90deg, #222C4A, #222C4A); /* Bleu foncé à turquoise */
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.brand-logo img.logo {
  max-height: 50px;
  margin-right: 10px;
}

.brand-logo .slogan {
  font-size: 0.9rem;
  color: #b2ebf2; 
  font-style: italic;
}

/* Menu de navigation */
.menu-items li a {
  color: #fff; /* Texte blanc */
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

/* Survol des liens */
.menu-items li a:hover {
  color: #e0f7fa; /* Couleur turquoise clair */
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-items li {
    margin: 10px 0;
  }
}

/* Changer la couleur de fond du dropdown */
.dropdown-content {
  background-color: #222C4A !important; /* Changez cette couleur selon vos besoins */
  border: none; /* Supprime les bordures si nécessaire */
}

/* Couleur du texte dans le dropdown */
.dropdown-content li > a {
  color: white !important; /* Changez selon vos besoins */
}

/* Couleur de survol (hover) pour les éléments */
.dropdown-content li:hover {
  background-color: #13AA9A!important; /* Couleur de survol */
}

.dropdown-content li > a:hover {
  color: #fff !important; /* Couleur du texte au survol */
}